<!DOCTYPE html>
<html lang="en">
<head>
  <title>SAMPLE Releases</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="icon" type="image/png" href="images/favicon.ico">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
<style>
div.static {
    position: static;
    float: right;
}




</style>
  
</head>
<body>
    

<nav class="navbar navbar-default">
<div class="container-fluid">
    <div class="navbar-header">
    <a class="navbar-brand" style ="margin-left: 0px;">      
      <img src="/images/favicon.ico" style ="display: block; top:1px; position:absolute; left:5px;">
      </a>
      <a class="navbar-brand" style ="margin-left: 15px;">SAMPLE Releases</a>
      
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      
    </ul>    
  </div>
</nav>
  
<div class="container" style="margin-left: 200px;">
  <h3>SAMPLE Releases</h3>
  <p>Application For tracking SAMPLE Internal Deployments</p>
</div>

<div class="container" style="position: absolute;margin-left: 200px;width: 400px;border: 2px solid #D88B3E;padding: 10px;">
    <form th:action="@{/login}" method="POST" class="form-signin">
        <h3 class="form-signin-heading" th:text="Login"></h3>
        <br/>

        <input type="text" id="email" style="width: 80%;" name="email" th:placeholder="Email"
               class="form-control"/> <br/>
        <input type="password" style="width: 80%;" th:placeholder="Password"
               id="password" name="password" class="form-control"/> <br/>

        <div align="center" th:if="${param.error}">
            <p style="font-size: 20; color: #FF1C19;">Email or Password invalid, please verify</p>
        </div>
        <button class="btn btn-lg btn-primary btn-block" style="width: 23%; font-size: 14px;" name="Submit" value="Login" type="Submit"
                th:text="Submit"></button>
    </form>
        
    </div>


</body>
</html>
